<section class="camera_container">
    <div class="jumbotron text-center">
        <div class="container">
            <p class="head">
                RealGaz is the signature              <span>
                    of real advantages
                </span>
            </p>
        </div>
    </div>
    <div id="camera" class="camera_wrap">
        <div data-src="/site/templates/images/newslide1.jpg">
            <div class="camera_caption fadeIn">

            </div>
        </div>
        <div data-src="/site/templates/images/newslide2.jpg">
            <div class="camera_caption fadeIn">

            </div>
        </div>
        <div data-src="/site/templates/images/newslide3.jpg">
            <div class="camera_caption fadeIn">

            </div>
        </div>
    </div>
</section>